<div class="content">
  <h2 class="content-head is-center">Tone Generator</h2>

  <div class="pure-g">
    <div class="l-box-lrg pure-u-1">
      <form class="pure-form">

        {{#each tones as |tone|}}

            <div class="pure-g">

              <div class="pure-u-1-5">
                <select class="pure-u-23-24" onchange={{action (mut tone.waveform) value='target.value'}}>
                  {{#each waveformOptions as |waveform|}}
                    <option value={{waveform}} selected={{eq waveform tone.waveform}}>{{waveform}}</option>
                  {{/each}}
                </select>
              </div>

              <div class="pure-u-1-5">
                <div class="pure-u-23-24">
                  {{input type='number' value=tone.frequency}}
                </div>
              </div>

              <div class="pure-u-1-12">
                <div class="pure-u-23-24 tone-toggle-container">
                  {{x-toggle toggle='toggleTones' name=tone toggled=tone.isPlaying}}
                </div>
              </div>

              <div class="pure-u-1-5">
                <button class="pure-button pure-button-danger pure-button-small" {{action 'removeTone' tone}}>
                  {{fa-icon 'times'}} Delete
                </button>
              </div>

            </div>

        {{/each}}

      </form>

      <button class="pure-button" {{action 'addTone'}}>{{fa-icon 'plus'}} Add Tone</button>

    </div>
  </div>
</div>
