<div class="content is-center nav-items">
  {{nav-item route='tone-generator' text='Tone Generator'}}
  {{nav-item route='chord-builder' text='Chord Builder'}}
  {{!--
  {{#link-to 'tone-generator' class='pure-button nav-item'}}{{fa-icon 'caret-right'}} Tone Generator {{fa-icon 'caret-left'}}{{/link-to}}
  {{#link-to 'chord-builder' class='pure-button nav-item'}}Chord Builder{{/link-to}}
  --}}
</div>

{{outlet}}
